@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

header {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    margin: -8px;
    margin-bottom: 10px;
}

header > p {
    font-size: 0.8em;
    color: gray;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    font-family: "Comic Neue";
    font-weight: bold;
}

main > pre {
    white-space: pre-line;
    font-size: 1.5em;
    margin-bottom: 30px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1px;
    margin: -8px;
}

footer > a:hover {
    text-decoration: underline;
    color: grey;
}